<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>

<link rel="stylesheet" 
	  type="text/css" 
	  href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.css"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
 	<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
</head>

<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#" >
  <img src="/img/R.png" width="30" height="30" class="d-inline-block align-top" align = "left">  
      Employee List
  </a>
  		<span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
</nav>

<div class="container">
		<h5 class= "mt-4">Hello <span sec:authentication="principal.username">User</span></h5>
		
		<hr/>
		<!-- Add Button -->
			<div class="col-md-13 text-right">
				<a th:href= "@{/add-employee}" class="btn btn-info mb-3 mt-1">Add New Employee</a>
			</div>
			
			<table class="table table-bordered table-striped" id="employee-table">
				<thead>
					<tr>
						<th>Full Name</th>
						<th>Email</th>
						<th>Field</th>
						<th>Actions</th>
					</tr>
				<thead>
				
				<tbody>
					<tr th:each="employee: ${employee}">
						<td th:text="${employee.fullname}"></td>
						<td th:text="${employee.email}"></td>
						<td th:text="${employee.field}"></td>
						<td>
							<a th:href="@{/display-form(employeeId=${employee.id})}" 
							class="btn btn-info text-right">Edit</a>
							<a th:href="@{/delete-employee(employeeId=${employee.id})}" 
							class="btn btn-danger ml-2">Remove</a>
						</td>
					</tr>		
				</tbody>
			</table>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#employee-table").dataTable();
		})
	</script>
</body>
</html>